<h1>Other</h1>
<form ng-submit="other.operation()">
    <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Type your text</label>
            <input ng-model="other.textInput">
            <md-button type="submit" class="md-raised md-primary">Sumar</md-button>
        </md-input-container>
    </div>
</form>
<div ng-show="other.show">
    <h3>Resultado: {{other.result}}</h3>
    <p class="together">
        Numeros utilizados:&nbsp;
    </p>
    <div ng-repeat="number in other.listNumbers track by $index" class="together">
        <p>{{number}} &nbsp;</p>
    </div>
</div>
